<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="API Suite" parallel="methods" thread-count="3">

    <test name="API Tests">
        <groups>
            <run>
                <include name="smoke"/>
                <include name="regression"/>
            </run>
        </groups>

        <classes>
            <class name="com.animesh.api.tests.UserTests"/>
        </classes>
    </test>

</suite>